@import 'config';
@import 'utility';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-supplement;
  color: #fff;
  padding: 10px;
  ul {
    display: flex;
    list-style: none;
    align-self: center;
    a {
      padding: 10px;
      color: #fff;
      &:hover {
        color: $color-dark;
      }
    }
  }

}